{% extends "learn_log/base.html" %}

{% block page_header %}

    <div class="container" style="margin-top: 20px">
        <div class="jumbotron">
            <h1 class="display-3">Track your learning.</h1>

            <p class="lead">Make your own Learning Log, and keep a list of the topics you're learning about.
                Whenever you learn something new about a topic, make an entry summarizing what you've learned.</p>

            {% if request.user.is_authenticated %}
                <a href="{% url 'learn_log:topics' %}" class="btn btn-lg btn-primary" role="button">&nbsp;Start &raquo;</a>
            {% else %}
                <a href="{% url 'users:register' %}" class="btn btn-lg btn-primary" role="button">Register &raquo;</a>
            {% endif %}
        </div>
    </div>

{% endblock page_header %}